* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}


/* ---------- Cabeçalho -------------------------------------------------------------- */

.cabecalho {
    padding-top: 1.5em;
    align-content: center;
    padding-bottom: 2em;
    background: url("/image/fundo.jpg");
    background-repeat: none;
    background-size: cover;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.356);
}

.Menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.img_logo {
    height: 48px;
    display: block;
}


/* ------------------------------ */

.Navegacao {
    display: flex;
    gap: 0.8px;
    flex-wrap: wrap;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.menu_item {
    color: #fafafd;
    font-size: 1.2em;
}

.botao_home {
    border: none;
    background-color: #0aa6c2;
    width: 120px;
    height: 30px;
    border-end-start-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

.botao_home:hover {
    background-color: #0906f0;
}

.botao_saiba_mais {
    border: none;
    background-color: #0aa6c2;
    width: 120px;
    height: 30px;
    border-start-end-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.botao_saiba_mais:hover {
    background-color: #0906f0;
}


/* ---------- Seção 1 -------------------------------------------------------------- */

.Primeira_Secao {
    padding-top: 5em;
}

.div_primeira_secao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.textos_Primeira_secao {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.div_img_home {
    display: block;
    height: 100%;
}

.img_secao_1 {
    height: 100px;
}

.secao_1_titulo {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    text-align: center;
    font-size: 100px;
    color: #03d3f3;
    text-shadow: 5px 5px 5px rgba(78, 77, 77, 0.719);
}

.secao_1_subtitulo {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 50px;
    color: rgb(245, 237, 237);
    font-weight: 400;
    text-shadow: 1px 5px 5px rgba(7, 7, 7, 0.719);
    text-decoration: #0906f0;
}

.secao_1_botao {
    background-color: #0906f0;
    width: 500px;
    height: 60px;
    border: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 20px;
    color: #2F2325;
    cursor: pointer;
}

.secao_1_txt_botao {
    color: #ffffff;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: 400;
}

.secao_1_botao:hover {
    background-color: rgb(2, 15, 92);
}


/* ---------- Seção 2 -------------------------------------------------------------- */

.principal_secao_2 {
    padding: 50px 20% 50px 20%;
}

.principal_div_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    backdrop-filter: blur(5px);
    background-color: rgba(117, 117, 117, 0.527);
    border-radius: 1.5rem;
    padding: 1em;
}

.principal_div_2>h1 {
    text-align: center;
    font-size: 50px;
    text-shadow: 10px 1px 15px rgba(0, 0, 0, 0.5);
}

.principal_div_2>p {
    font-size: 30px;
    padding: 10px;
}


/* ------------ Rodapé ----------------------------------------------- */

.rodape {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.418);
}

.rodape>p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);
}
