/*-------- Configurações Globais -----------------------------*/

:root {
    --Fundo1: url("../image/fundo.jpg");
    --fonte-padrao: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

button {
    font-family: var(--fonte-padrao);
    color: #ffffff;
    border: none;
    cursor: pointer;
}

body {
    font-family: var(--fonte-padrao);
}


/*----------- Menu de Navegação ------------------------------*/

header {
    padding-top: 0.5em;
    align-content: center;
    padding-bottom: 0.5em;
    background: var(--Fundo1);
    background-repeat: none;
    background-size: cover;
    box-shadow: var(--Sombra-padrao);
    margin: auto;
}

.Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 600px;
}

.img_logo {
    height: 48px;
    display: block;
}


/* ------------------------------ */

.Navegacao {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    gap: 2px;
}

.botao_home {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #005a9e;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    width: 120px;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
}

.botao_home:hover {
    background-color: #0906f0;
}

.botao_orcamento {
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    background-color: #005a9e;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
    width: 120px;
    height: 40px;
}

.botao_orcamento:hover {
    background-color: #0906f0;
}


/*----- Corpo ------------------------------------------*/

main {
    background-image: url('../image/negocio.jpg');
    background-size: cover;
    background-position: center center;
}

#secao1>h1 {
    background-color: #005ba183;
    text-align: center;
    font-size: 3em;
    color: #ffffff;
    padding: 0.5em 0px 0.5em 0px;
}

#secao2 {
    margin-left: 25em;
    margin-right: 25em;
    background-color: #ffffff;
    padding-bottom: 10em;
}

#div_main {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    gap: 5em;
}

.titulo_SAC {
    color: #ffffff;
    background: linear-gradient(to left, #ffffff, #005a9e);
    margin-bottom: 0.8em;
    padding-left: 0.5em;
    border-radius: 10px;
    font-size: 1.5em;
    width: 10em;
}

#div_SAC>p {
    padding-left: 1em;
    padding-bottom: 1.5em;
}

#div_SAC>p::before {
    content: "📞 ";
}

span::before {
    content: " ✔️ ";
}

#div_SAC_Links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.links>img {
    margin-left: 1em;
    height: 25px;
    width: 100px;
    border-radius: 10px;
}


/*----- Início do formulário -------------------------------*/

form>div {
    border: none;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.418);
    margin: 0em 1.5em 0em 1.5em;
    width: auto;
}

#div_campos {
    display: flex;
    gap: 6em;
}

#div1_campos>div {
    padding-bottom: 1.4em;
}

.campo {
    display: flex;
    flex-wrap: wrap;
}

label {
    font-weight: bold;
    width: 100px;
}

label::after {
    content: ':';
}

.campo>input {
    width: 100%;
    padding: 0.3em;
    margin-top: 0.5em;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
}

textarea {
    width: 100%;
    font-family: var(--fonte-padrao);
    padding: 6px;
    font-size: 1em;
    margin-top: 0.5em;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
}


/*----- Botão enviar -----------------------------------*/

#botão_enviar {
    width: 100%;
    background-color: #005a9e;
    font-size: 1.5em;
    margin-top: 1em;
    border-radius: 10px;
    padding: 0.5em 0px 0.5em 0px;
    font-weight: bold;
}

#botão_enviar:hover {
    background-color: #0906f0;
}


/*----- Rodapé -----------------------------------------*/

.rodape {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    backdrop-filter: blur(5px);
    background-color: #005a9e;
}

.rodape>p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);
}