/*-------- Configurações Globais -----------------------------*/

:root {
    --Fundo1: url("../image/fundo.jpg");
    --Fundo2: url("../image/electronics.jpg");
    --fonte-padrao: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    --Sombra-padrao: 3px 3px 8px rgba(0, 0, 0, 0.356);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: var(--fonte-padrao);
}


/*----------- Menu de Navegação ------------------------------*/

header {
    padding-top: 1.5em;
    align-content: center;
    padding-bottom: 2em;
    background: var(--Fundo1);
    background-repeat: none;
    background-size: cover;
    box-shadow: var(--Sombra-padrao);
    margin: auto;
}

.Menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.img_logo {
    height: 48px;
    display: block;
}


/* ------------------------------ */

.Navegacao {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.botao_home {
    text-align: center;
    padding: 3px;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #0085EB;
    width: 120px;
    height: 30px;
    border-end-start-radius: 10px;
    border-top-left-radius: 10px;
}

.botao_home:hover {
    background-color: #0906f0;
}

.botao_saiba_mais {
    text-align: center;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    background-color: #0085EB;
    border-start-end-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3px;
    width: 120px;
    height: 30px;
    margin-left: 2px;
}

.botao_saiba_mais:hover {
    background-color: #0906f0;
}


/*------ Formulário ----------------------*/

.principal {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    align-items: center;
    background: var(--Fundo2);
    background-size: cover;
    background-repeat: none;
    box-shadow: inset var(--Sombra-padrao);
}


/*=== Cabeçalho 2 (Título formulário) =====*/

#cabecalho_2>h1 {
    font-size: 2.8em;
    padding-bottom: 0.5em;
    text-align: center;
}

#cabecalho_2>h2 {
    font-size: 1.3em;
    text-align: center;
    font-weight: normal;
}


/*======== Seção do formulário ========*/

#secao_contato {
    padding-top: 2em;
    padding-bottom: 2em;
}


/*======== Área de preenchimento dos dados ========*/

fieldset {
    border: 0px;
    background-color: #005ba183;
    border-radius: 0.6em;
    padding: 1.5em;
    box-shadow: var(--Sombra-padrao);
    width: 500px;
}

fieldset>.div_campos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.7em;
}


/*======== labels e campos ========*/

.div_campos>label {
    width: 150px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.527);
    font-weight: normal;
}

.div_campos>label::after {
    content: ': ';
}

#op_equip {
    flex-direction: column;
    align-items: flex-start;
}

#op_equip>label {
    width: 100%;
    padding-bottom: 1em;
    padding-top: 0.5em;
}

.op_equip {
    align-items: center;
    box-shadow: none;
    width: 100%;
    display: flex;
    padding-bottom: 5px;
}

.op_equip>input {
    box-shadow: none;
    width: 30px;
}

input,
textarea {
    width: 100%;
    border: none;
    border-radius: 0.3em;
    padding: 0.3em;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.363);
}

input:focus,
input:hover {
    background-color: #accfeb5e;
}

.div_obs {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 1em;
}

.div_obs>label {
    width: 100%;
    padding-bottom: 0.5em;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.527);
    font-weight: bold;
}

.div_obs>label::after {
    content: ":";
}


/*======== Botão para Enviar ========*/

.div_botao {
    padding-top: 3em;
}

#botao_enviar {
    border: none;
    background-color: #0085EB;
    width: 100%;
    height: 45px;
    border-radius: 0.3em;
    cursor: pointer;
    color: #ffffff;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: var(--Sombra-padrao);
}

#botao_enviar:hover {
    background-color: #0906f0
}


/*----- Rodapé -----------------------------------------*/

.rodape {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.418);
}

.rodape>p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);
}