/*-------- Configurações Globais -----------------------------*/

:root {
    --Fundo1: url("../image/fundo.jpg");
    --Fundo2: url("../image/electronics.jpg");
    --fonte-padrao: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    --Sombra-padrao: 3px 3px 8px rgba(0, 0, 0, 0.356);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

button {
    font-family: var(--fonte-padrao);
    color: #ffffff;
    border: none;
    cursor: pointer;
}

body {
    font-family: var(--fonte-padrao);
}


/*----------- Menu de Navegação ------------------------------*/

header {
    padding-top: 0.5em;
    align-content: center;
    padding-bottom: 0.5em;
    background: var(--Fundo1);
    background-repeat: none;
    background-size: cover;
    box-shadow: var(--Sombra-padrao);
    margin: auto;
}

.Menu {
    display: flex;
    justify-content: center;
    gap: 600px;
    align-items: center;
    flex-wrap: wrap;
}

.img_logo {
    height: 48px;
    display: block;
}


/* ------------------------------ */

.Navegacao {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.botao_home {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #005a9e;
    width: 120px;
    height: 30px;
    border-end-start-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
}

.botao_home:hover {
    background-color: #0906f0;
}

.botao_contato {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #005a9e;
    border-start-end-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 120px;
    height: 30px;
    margin-left: 2px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
}

.botao_contato:hover {
    background-color: #0906f0;
}


/*------ Formulário ----------------------*/

main {
    align-items: center;
    background: var(--Fundo2);
    background-size: cover;
    box-shadow: inset var(--Sombra-padrao);
    background-position: center center;
    padding-bottom: 5em;
}


/*=== Cabeçalho 2 (Título formulário) =====*/

#cabecalho_2 {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #005ba183;
    margin: auto;
    color: #ffffff;
}

#cabecalho_2>h1 {
    font-size: 2.8em;
    padding-bottom: 0.5em;
    text-align: center;
}

#cabecalho_2>h2 {
    font-size: 1.3em;
    text-align: center;
    font-weight: normal;
}


/*======== Seção do formulário ========*/

#secao_contato {
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}


/*======== Área de preenchimento dos dados ========*/

form {
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    border-radius: 0.6em;
}

#campos_contato {
    border: 0px;
    background-color: #ffffffd0;
    border-radius: 0.6em;
    padding: 1.5em;
    box-shadow: var(--Sombra-padrao);
    width: 500px;
}

#campos_contato>.div_campos {
    display: flex;
    margin-bottom: 0.7em;
}

#descricao {
    font-family: var(--fonte-padrao);
    padding: 4px 6px 6px 6px;
    font-size: 1em;
}


/*======== labels e campos ========*/

.div_campos>label {
    width: 150px;
    font-weight: bold;
}

.div_campos>label::after {
    content: ': ';
}

#op_equip {
    flex-direction: column;
    align-items: flex-start;
}

#op_equip>label {
    width: 220px;
    padding-bottom: 1em;
    padding-top: 0.5em;
}

.op_equip {
    align-items: center;
    box-shadow: none;
    display: flex;
    padding-bottom: 5px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.767);
}

.op_equip>input {
    box-shadow: none;
    width: 30px;
}

input,
textarea {
    width: 100%;
    border: none;
    border-radius: 0.3em;
    padding: 0.3em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
}

.div_obs {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 1em;
}

.div_obs>label {
    width: 200px;
    padding-bottom: 0.5em;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.767);
    font-weight: bold;
}

.div_obs>label::after {
    content: ":";
}


/*======== Botão para Enviar ========*/

#botao_enviar {
    border: none;
    background-color: #005a9e;
    width: 100%;
    height: 45px;
    margin-top: 2.3em;
    border-radius: 0.3em;
    cursor: pointer;
    color: #ffffff;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: var(--Sombra-padrao);
}

#botao_enviar:hover {
    background-color: #0906f0
}


/*----- Rodapé -----------------------------------------*/

.rodape {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    backdrop-filter: blur(5px);
    background-color: #005a9e;
}

.rodape>p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);
}