/*-------- Configurações Globais -----------------------------*/

:root {
    --Fundo1: url("../image/fundo.jpg");
    --Font-Family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

button {
    font-family: var(--fonte-padrao);
    color: #ffffff;
    border: none;
    cursor: pointer;
}

body {
    font-family: var(--Font-Family);
}

main {
    height: 100vh;
}


/*----------- Menu de Navegação ------------------------------*/

header {
    padding-top: 1.5em;
    align-content: center;
    padding-bottom: 2em;
    background: var(--Fundo1);
    background-repeat: none;
    background-size: cover;
    box-shadow: var(--Sombra-padrao);
    margin: auto;
}

.Menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.img_logo {
    height: 48px;
    display: block;
}


/* ------------------------------ */

.Navegacao {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.botao_home {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #0085EB;
    width: 120px;
    height: 30px;
    border-end-start-radius: 10px;
    border-top-left-radius: 10px;
}

.botao_home:hover {
    background-color: #0906f0;
}

.botao_orcamento {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #0085EB;
    border-start-end-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 120px;
    height: 30px;
    margin-left: 2px;
}

.botao_orcamento:hover {
    background-color: #0906f0;
}


/*----- Corpo ------------------------------------------*/


/*----- Rodapé -----------------------------------------*/

.rodape {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.418);
}

.rodape>p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 10px 15px 15px rgba(0, 0, 0, 0.5);
}

@media(max-width: 600px) {
    .rodape {
        padding: 5px;
    }
    .rodape>p {
        font-size: 10px;
    }
}